<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 1 - Weather API</title>

    <!-- Axios CDN-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div id="root">
        <h1>World City Weather Checker</h1>

        City Name:
        <input type="text" v-model="city">
        <br><br>

        <button @click="check_weather" :disabled="city === ''">
            Check Weather
        </button>

        <hr>
        <h2>Weather</h2>

        <p v-for="photo in weather_photo_paths">
            <img :src="photo">
        </p>

        <hr>
        <h2>Temperature</h2>

        <img :src="temperature_photo_path">
    </div>

    <script src="weather.js"></script>
</body>
</html>