#box1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 60px;
    z-index: 1;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    top: 80px;
    left: 50px;
    z-index: 2;
}


#box3{
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    top: 10px;
    left: 50px;
    bottom: 160px;
    z-index: 0;
}
/*whichever have a higher z-index, will be on top*/