<!DOCTYPE html>
<html>
<head>
    <title>ListRender</title>

    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <h1>The following demonstrates rendering an array with v-for. </h1>
    <ul id="app"> 
        <li v-for="(item, idx) in items"> 
                {{ idx }} - {{ item }} 
        </li> 
    </ul>         
    <script>
        const vm = Vue.createApp({ 
                        data() {
                            return {
                                items: ['a', 'b', 'c' ] 
                            } 
                        } 
                    }).mount('#app')
    </script>

<h1>The following demonstrates rendering an array of objects with v-for. </h1>
    <ul id="app2"> 
        <li v-for="item in items"> 
                {{ item.message }} 
        </li> 
    </ul>         
    <script>
        const vm2 = Vue.createApp({ 
                        data() {
                            return {
                                items: [ 
                                    { message: 'Foo' }, 
                                    { message: 'Bar' } 
                                ] 
                            } 
                            
                        } 
                    }).mount('#app2')
    </script>

<h1>The following demonstrates rendering an array with v-for and the optinal index argument. </h1>
    <ul id="app3"> 
        <li v-for="(item, index) in items"> 
            <!-- Inside v-for blocks we have full access to parent scope properties. -->
            {{ parentMessage }} - {{ index }} - {{ item.message }} 
        </li> 
    </ul>      
    <script>
        const vm3 = Vue.createApp({ 
                        data() { 
                            return {
                                parentMessage: 'Parent',
                                items: [ 
                                    { message: 'Foo' }, 
                                    { message: 'Bar' } 
                                ] 
                            }
                        } 
                    }).mount('#app3')
    </script>


</body>
</html>